.container {
  height: 100vh;
  width: 100%;
  max-width: 26.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--purple-500);

  padding: 2.25rem 4rem 3rem;
  color: var(--white);

  strong {
    font-family: "Lexend", sans-serif;
  }

  header {
    display: flex;
    align-items: center;

    strong {
      font-size: 1rem;
      color: var(--white);
      margin-left: 1rem;
    }
  }

  .playingPodcast {
    text-align: center;

    img {
      height: 21.625rem;
      width: 100%;
      border-radius: 1.5rem;
    }

    strong {
      display: block;
      font-family: "Lexend", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 1.875ren;
      text-align: center;
      color: var(--white);
      margin: 2rem 0 0.5rem;
    }

    span {
      display: block;
      line-height: 1.18rem;
      color: var(--purple-200);
    }
  }

  .emptyPlayer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 21.625rem;
    padding: 0 4rem;
    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    background: linear-gradient(
      143.8deg,
      rgba(145, 100, 250, 0.8) 0%,
      rgba(73, 64, 95, 0) 100%
    );

    text-align: center;
  }

  footer {
    width: 100%;

    &.emptyFooter {
      opacity: 0.5;
    }

    .progress {
      width: 100%;

      display: flex;
      align-items: center;
      font-size: 0.875rem;

      .playingBar {
        margin: 0 0.875rem;
      }

      .emptyBar {
        margin: 0 0.875rem;
        width: 100%;
        height: 0.25rem;
        border-radius: 0.625rem;
        background-color: var(--purple-300);
      }
    }

    .buttons {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 2.45rem;

      button {
        border: 1px solid transparent;
        font-size: 0;
        background-color: transparent;
        outline: none;
        transition: filter 0.2s;

        &:focus-visible {
          border: 1px solid white;
        }

        &:disabled {
          cursor: default;
        }

        &:hover:not(:disabled) {
          filter: brightness(0.6);
        }

        &.playButton {
          width: 4rem;
          height: 4rem;
          font-size: 0;
          border-radius: 1rem;
          background-color: var(--purple-400);

          &:hover:not(:disabled) {
            filter: brightness(0.95);
          }
        }
      }
    }
  }
}
